In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
frame = pd.read_csv("./insurance.csv")

In [2]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [6]:
frame.drop(axis='rows',labels=[3,4],inplace=True)

In [7]:
frame.head()

   ID  District   Group    Age  Holders  Claims
2   3         1     <1l  30-35      246      20
5   6         1  1-1.5l  25-29      536      84
6   7         1  1-1.5l  30-35      696      89
7   8         1  1-1.5l    >35     3582     400
8   9         1  1.5-2l    <25      133      19

In [9]:
frame.append({'ID':'1','District':'1','Group':'low','Age':'tmp','Holders':'non','Claims':'11'},ignore_index=True)

    ID District   Group    Age Holders Claims
0    3        1     <1l  30-35     246     20
1    6        1  1-1.5l  25-29     536     84
2    7        1  1-1.5l  30-35     696     89
3    8        1  1-1.5l    >35    3582    400
4    9        1  1.5-2l    <25     133     19
..  ..      ...     ...    ...     ...    ...
56  61        4     >2l    <25       3      0
57  62        4     >2l  25-29      16      6
58  63        4     >2l  30-35      25      8
59  64        4     >2l    >35     114     33
60   1        1     low    tmp     non     11

[61 rows x 6 columns]

In [10]:
frame

    ID  District   Group    Age  Holders  Claims
2    3         1     <1l  30-35      246      20
5    6         1  1-1.5l  25-29      536      84
6    7         1  1-1.5l  30-35      696      89
7    8         1  1-1.5l    >35     3582     400
8    9         1  1.5-2l    <25      133      19
9   10         1  1.5-2l  25-29      286      52
10  11         1  1.5-2l  30-35      355      74
11  12         1  1.5-2l    >35     1640     233
12  13         1     >2l    <25       24       4
13  14         1     >2l  25-29       71      18
14  15         1     >2l  30-35       99      19
15  16         1     >2l    >35      452      77
16  17         2     <1l    <25       85      22
17  18         2     <1l  25-29      139      19
18  19         2     <1l  30-35      151      22
19  20         2     <1l    >35      931      87
20  21         2  1-1.5l    <25      149      25
21  22         2  1-1.5l  25-29      313      51
22  23         2  1-1.5l  30-35      419      49
23  24         2  1-1.5l    >35     2443     290
24  25         2  1.5-2l    <25       66      14
25  26         2  1.5-2l  25-29      175      46
26  27         2  1.5-2l  30-35      221      39
27  28         2  1.5-2l    >35     1110     143
28  29         2     >2l    <25        9       4
29  30         2     >2l  25-29       48      15
30  31         2     >2l  30-35       72      12
31  32         2     >2l    >35      322      53
32  33         3     <1l    <25       35       5
33  34         3     <1l  25-29       73      11
34  35         3     <1l  30-35       89      10
35  36         3     <1l    >35      648      67
36  37         3  1-1.5l    <25       53      10
37  38         3  1-1.5l  25-29      155      24
38  39         3  1-1.5l  30-35      240      37
39  40         3  1-1.5l    >35     1635     187
40  41         3  1.5-2l    <25       24       8
41  42         3  1.5-2l  25-29       78      19
42  43         3  1.5-2l  30-35      121      24
43  44         3  1.5-2l    >35      692     101
44  45         3     >2l    <25        7       3
45  46         3     >2l  25-29       29       2
46  47         3     >2l  30-35       43       8
47  48         3     >2l    >35      245      37
48  49         4     <1l    <25       20       2
49  50         4     <1l  25-29       33       5
50  51         4     <1l  30-35       40       4
51  52         4     <1l    >35      316      36
52  53         4  1-1.5l    <25       31       7
53  54         4  1-1.5l  25-29       81      10
54  55         4  1-1.5l  30-35      122      22
55  56         4  1-1.5l    >35      724     102
56  57         4  1.5-2l    <25       18       5
57  58         4  1.5-2l  25-29       39       7
58  59         4  1.5-2l  30-35       68      16
59  60         4  1.5-2l    >35      344      63
60  61         4     >2l    <25        3       0
61  62         4     >2l  25-29       16       6
62  63         4     >2l  30-35       25       8
63  64         4     >2l    >35      114      33

## append works on copy, it returns a new object

In [11]:
changed = frame.append({'ID':'1','District':'1','Group':'low','Age':'tmp','Holders':'non','Claims':'11'},ignore_index=True)
changed

    ID District   Group    Age Holders Claims
0    3        1     <1l  30-35     246     20
1    6        1  1-1.5l  25-29     536     84
2    7        1  1-1.5l  30-35     696     89
3    8        1  1-1.5l    >35    3582    400
4    9        1  1.5-2l    <25     133     19
..  ..      ...     ...    ...     ...    ...
56  61        4     >2l    <25       3      0
57  62        4     >2l  25-29      16      6
58  63        4     >2l  30-35      25      8
59  64        4     >2l    >35     114     33
60   1        1     low    tmp     non     11

[61 rows x 6 columns]